results/*
runs/*
saved_models/*
opt.txt
*.pyc
*.pth
.vscode/*
# dataset/checkpoints/*
.*tfevents*.
dataset/coco-2017/train/data/*
*.log
dataset/coco-2017/raw/captions_train2017.json
dataset/coco-2017/raw/captions_val2017.json
dataset/coco-2017/raw/instances_train2017.json
dataset/coco-2017/raw/instances_val2017.json
dataset/coco-2017/raw/person_keypoints_train2017.json
dataset/coco-2017/raw/person_keypoints_val2017.json
dataset/coco-2017/train/labels.json
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/cublas64_80.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/cudart64_80.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/cudnn64_5.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/curand64_80.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/deep_image_analogy.exe
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/hdf5_hl.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/hdf5.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/libgcc_s_seh-1.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/libgflags.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/libgfortran-3.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/libglog.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/libopenblas.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/libquadmath-0.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/lmdb.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/opencv_core2410.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/opencv_highgui2410.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/opencv_imgproc2410.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/similarity_combo.exe
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/szip.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/exe/zlib.dll
Custom_Models/Deep-Exemplar-based-Colorization/demo/models/deep_image_analogy/vgg19/VGG_ILSVRC_19_layers_deploy.prototxt
Custom_Models/Deep-Exemplar-based-Colorization/demo/models/similarity_subnet/vgg_19_gray_bn/deploy.prototxt
Custom_Models/Deep-Exemplar-based-Colorization/demo/run.bat
Custom_Models/Deep-Exemplar-based-Colorization/colorization_subnet/tempCodeRunnerFile.py
dataset/coco-2017/imgs/train/labels.json
models\tempCodeRunnerFile.py
dataset/checkpoints/spcolor/runs/stego_pro_s/*
*/tempCodeRunnerFile.py
dataset/checkpoints/spcolor/checkpoints/cocostuff27_vit_base_5.ckpt